rethinkdb==1.13.0-0
Flask==0.9
requests==1.2.3
lxml==3.2.1
html5lib==1.0b1
termcolor==1.1.0
python-dateutil==2.1
nose==1.1.2
Flask-Cache==0.12
PyYAML==3.11

# For parsing .gitmodules from dotfiles repos (to extract Pathogen plugins).
# configobj does not support comments beginning with semicolon,
# and the ConfigParser modules that comes with Python 2.7 is ancient and sucky.
# This is the backported version from Python 3.
configparser==3.3.0r2

# For generating human-friendly and URL-friendly slugs
python-slugify==0.0.6
