"""This is a template for secrets.py (which is not checked in and you must
create yourself), containing authentication codes/tokens and other secrets.
"""


# This is a revokable token that we use for making authenticated GitHub API
# calls. GitHub provides higher (more lenient) rate limits for authenticated
# calls.
#
# This is optional. If you don't have this in your secrets.py, our scraper will
# use unauthenticated calls, which will be subject to stricter rate limits.
#
# See https://github.com/blog/1509-personal-api-tokens to create one for
# yourself and put here.
GITHUB_PERSONAL_ACCESS_TOKEN = "lalalalalalimnottellingyou"

# For notifying our HipChat room when someone submits a plugin
HIPCHAT_ROOM_ID = 13
HIPCHAT_TOKEN = "itwasrareiwasthere"

# Shh, don't let the NSA know we have this.
US_NUCLEAR_LAUNCH_CODE = "00000000"
