<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- TODO(david): Load locally for offline development -->
  {% if env == 'prod' %}
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700|Open+Sans:400,300,200,700' rel='stylesheet' type='text/css'>
  {% else %}
    <link rel="stylesheet" href="/static/css/fonts.css"/>
  {% endif %}
  <link rel="shortcut icon" href="/static/favicon.ico">

  <title>VimAwesome</title>
  <link rel="stylesheet" href="/static/css/styles.css"/>
  <link rel="stylesheet" href="/static/css/screen.css"/>
  <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
</head>
<body>
  <script src="/static/lib/js/zepto.min.js"></script>
  <script src="/static/lib/js/underscore-min.js"></script>
  <script src="/static/lib/js/backbone-min.js"></script>
  <script src="/static/lib/js/react-0.5.1.min.js"></script>
  <script src="/static/lib/js/JSXTransformer-0.5.1.js"></script>
  <script src="/static/lib/js/moment.min.js"></script>
  <script src="/static/lib/js/marked.js"></script>

  <!-- TODO(alpert): In production, precompile JSX -->
  <script src="/static/js/app.js" type="text/jsx"></script>
</body>
</html>
