<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <!-- TODO(david): Load locally for offline development -->
  {% if env == 'prod' %}
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  {% else %}
    <link rel="stylesheet" href="static/css/fonts.css"/>
  {% endif %}

  <meta charset="utf-8">
  <title>Vim Awesome</title>
  <meta name="description" content="TODO(david): meta description">

  <link rel="stylesheet" href="static/css/styles.css"/>
  <link rel="stylesheet" href="static/css/screen.css"/>
</head>
<body ng-controller="AppController">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container-fluid navbar-container">
        <a class="brand" href="/">VimAwesome</a>
        <ul class="nav">
          <li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div ng-view></div>

  <!-- TODO(david): In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  -->
  <script src="static/lib/angular/angular.js"></script>
  <script src="static/lib/angular/angular-resource.js"></script>
  <script src="static/js/app.js"></script>
  <script src="static/js/services.js"></script>
  <script src="static/js/controllers.js"></script>
  <script src="static/js/filters.js"></script>
  <script src="static/js/directives.js"></script>
</body>
</html>
