<div class="container-fluid plugins-container">
  <div class="row-fluid">
    <div class="span2">
      [sidebar here!]
    </div>
    <div class="span10">
      <ul class="plugins">
        <li class="plugin" ng-repeat="plugin in plugins | orderBy:sortOptions.orderProp">
          <div class="hover-buttons">
            <a class="github-link" target="_blank" href="{{plugin.github_url}}">
              github link
            </a>
          </div>
          <h3 class="plugin-name">
            <a href="#/plugin/{{plugin.name}}">{{plugin.name}}</a>
          </h3>
          <p class="short-desc">{{plugin.description}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
