<div class="row-fluid">
  <ul class="plugins">
    <li class="plugin" ng-repeat="plugin in plugins | orderBy:sortOptions.orderProp">
      <div class="hover-bg"></div>
      <div class="hover-buttons">
        <a class="github-link" target="_blank" href="{{plugin.github_url}}">
          github link
        </a>
      </div>
      <h3 class="plugin-name">
        <a href="#/plugin/{{plugin.name}}">{{plugin.name}}</a>
      </h3>
      <p class="short-desc">{{plugin.short_desc}}</p>
    </li>
  </ul>
</div>
