/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import 'compass';
@import 'variables';

////////////////////////////////////////////////////////////////////////////////
// Global variables and mixins

$page-max-width: 1200px;
$page-min-width: 800px;

// Or this can just be a class...
@mixin page-container {
  max-width: $page-max-width;
  min-width: $page-min-width;
  margin-left: auto;
  margin-right: auto;
}

////////////////////////////////////////////////////////////////////////////////
// Site chrome

body {
  // TODO(david): Preview in non-retina and adjust for retina
  background-image: url(/static/img/grainy-fdf6e3.png);
}

.navbar-inner {
  border: none;
  @include border-radius(0);

  .navbar-container {
    @include page-container;
  }

  .brand {
    font-family: $headingsFontFamily;

    .vim {
      color: $cyan;
      font-weight: bold;
    }
  }
}

// TODO(david): Don't copy the selector for this
.navbar .nav > .active > a {
  &, &:hover, &:focus {
    @include box-shadow(none);
  }
}

a {
  color: $blue;
  @include transition(color 0.2s ease-out);

  &:hover, &:focus {
    color: darken($blue, 15%);
    text-decoration: none;
    @include transition(color 0.2s ease-out);
  }
}

////////////////////////////////////////////////////////////////////////////////
// Plugins

.plugins-container {
  @include page-container;
}

.plugins {
  margin: 0;

  .plugin {
    list-style-type: none;
    padding: 7px 5px;
    border-top: 1px dashed $base1;

    &:last-child {
      border-bottom: 1px dashed $base1;
    }

    &:hover {
      //background-color: #FDF6E4;  // TODO(david): Get color scheme
    }

    .plugin-name {
      margin-top: 0;
      margin-bottom: 2px;
      line-height: normal;

      a {
        color: $base00;
        &:hover {
          color: $blue;
        }
      }
    }

    .short-desc {
      margin-bottom: 0;
    }

    .hover-buttons {
      float: right;
      margin-right: 10px;
      display: none;
    }

    &:hover .hover-buttons {
      display: block;
    }
  }
}
